<%- include("./partials/header.ejs") %>

<body onload="updateTheme()">
    <div class="container">

        <%- include("./partials/nav.ejs") %>

        <div class="jumbotron bg-dark text-white mt-5">
            <h1 class="text-center">Coming Soon!</h1>
        </div>
    </div>
</body>
</html>